# Ignore node_modules folders
**/node_modules

# Ignore git repository
.git

# Ignore environment files
.env

# Ignore build artifacts and logs
/build
/dist
*.log
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db
