version: '3.9'

services:
  backend:
    build: ./backend
    command: npm run start
    environment:
      PORT: 3000
      FRONTEND_URL: http://localhost:8080
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: http://localhost:3000
        VITE_SOCKET_URL: http://localhost:3000

networks:
  app-network:
    driver: bridge
